### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
nbproject/
build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos compilados de Java
*.class

### VS Code ###

### Mac OS ###
.DS_Store